.container1{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.heading {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5em;
    color: #333;
}

.greeting {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #555;
}

.cricketerContainer {
    text-align: center;
}

.cricketerList {
    display: flex;
    justify-content: center;
}

.cricketerCard {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.cricketerCard:hover {
    transform: scale(1.05);
}

.cricketerImage {
    width: 30%;
    height: auto;
    border-radius: 10px;
}

.cricketerName {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.statistics {
    margin-top: 10px;
    text-align: left;
}

.statistics p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #555;
}

.logoutButton {
    font-weight: bold;
    position: absolute;
    top:-20px;
    right:10px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff4b5c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s;
}

.logoutButton:hover {
    background-color: #ff3b4c;
}
.detailBtn{
    display: block;
    width:100%;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4b96ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s;
    
}
.detailBtn:hover{
    background-color: #4b96ff;
}
.player {
    margin-top: 20px;
    text-align: center;
  }
  
  .player h2 {
    font-size: 24px;
    color: #333;
  }
  
  .player ul {
    list-style: none;
    padding: 0;
  }
  
  .player li {
    display: inline-block; 
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 5px; 
  }
  
  .player li:hover {
    background-color: #eaeaea;
  }
  
  .player li:last-child {
    margin-right: 0; 
  }
  
  .btn{
    font-weight: bold;
  
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4b54ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    
  }